Source: gallery-plugin-liquify
Section: user/multimedia
Priority: extra
Maintainer: Alberto Garcia <agarcia@igalia.com>
Build-Depends: debhelper (>= 7.0.50),
               libgallerycore-dev (>= 1.110519.2),
               libquillimagefilter-dev (>= 1.110523.0)
Standards-Version: 3.9.1

Package: gallery-plugin-liquify
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Liquify gallery plugin
 This is the liquify gallery plugin.
XSBC-Maemo-Display-Name: Liquify plugin for Gallery
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAABHNCSVQICAgIfAhkiAAAAAlwSFlz
 AAALEwAACxMBAJqcGAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAABT0SURB
 VHiczZt5cF3Vnec/565vf9LTYkm2JXlfkJFxYgNJcDfbGJyF7k4Z0knAPSQFmUmHZHqmZ5rKZBiT
 7lDp0MmESdKQqSYBmgJMk4UAgQSTjh2MMW3HNsZ2vCKvsqzt6a13OefMH+9JWFi2ZZA18311SlVX
 9yy//Zzf+V2htWYy8XTHLgcnk1ZGkAKVrjw1soayh/D7s6t2LvQncz1iIhmwRmDMXXK0w7DkMmCJ
 MFikJS1a6RhKRJXSMRS2ljDcAIT5TsMgMAxRxNAlYYiiMDmuFW8CW1Vobt67ddrOezRqotb8vhnw
 xAcOXGNY5mot6FRl5gZFHQ2LmrBQacNEvucFmmDFRaXFBHZMlIwIe4VmuwrlI3++ZdYr72v898KA
 xzoPNJqucSdC3+b16dmlngqxkwkrLog2Ctw6sR8tHpWeeujW7bN6LnScC2LAP3Xu7ohE3PvCorq+
 1KNcr1+jJ0wZ3xuEAW5GEG00PCtm/Lpc9u7+3PYFO8fdf7wMeGTZvju0z7eH9qt4WJpcaY8XVlSQ
 mm0UhMNfrd4854fj6XNeBjzWeTKu3OzDXp++OX9Y/T+X+PkgDEi0Grh1Yq3hpW+/dfuUwjnfPxcD
 frRk/0JthD/Pd+nZXv//n1I/G9yMINEm9gtl3fTvt87edbb3zsqAxzp3xH3b3jawW82W5Yu2zjGh
 UEgCQnxCPCQBAgMDAxMbCweLCAbGOccxI1C7wNjvBMHiW7dfOqYmWGfrXLath3NdcnZQnjzJazQe
 efL04bYoFn60kUtWtmGYMHiiRPZ4kVy3x+s/epu4nyFF4znHU2XIdunZyTbrYeCWsd4ZUwN++IFd
 d5QH5UO5tyeP+BCPPH3ULFGs+m4nta1x/u3FXWz85Q6UDGie0UjLzEYSqRj/fPsWGmknTRPG2WU4
 gmS7IFJj3nnHloVnOMYzGPBA544OU4tNg7tVfLIcnk+RAY6z6LYaPn5PJw/c9SRbXzhAVCeJkgIM
 FAE+ZSQ+GVppoI0UUxDnMQOoOMaaBUZBCn3FXdsvHRUiz2CfaXFfdq+My0kkflAc58Z/aGfWh+v4
 6+sfIDyYooWFzFo6hbnXNJCY4pBqjDJ4osTBjafY+3IvXq6Mj4+NOzKWRhISYBMZPYmC7CEZT881
 7gM+fvq/RmnAg50bG8tB7PDgH5TLJMCnxADHuepvGpl7bR33/uljJPMttM5pZsXX5rP4o61j9isM
 eKz7X3vY/OApkmEDFi5hhZUoJLVMH9NB1swzvIhdbP3C9g+N7BhHveWL6J3FXuUqNBe7BfhkOcms
 m1wu/2w731r9FMl8KwuWt/Kll5fTsaKFMAzHbG7SZOXXLuGG+6fTy1F6OUq/fYSrv9lIyRykRHbM
 OYu9yvVF9M7TaR5lAlLo20oDiovt+jSKIXopx/r5+P+8mvs//wTieC3z/6iZv/jxMkxbIKVkaKDA
 U9/5FTs3HGSox2P+lVNZ/snLWHrdQizbYunN7Qz2FFj3jS7KQYEpnRFm/Ls4R3/Zh00MA3vUvKUB
 TXSqcRvw9eFnIyZwf8fma/y8WJc/cvE9f5kcWY6T5SSFxDGi+Uba507jS88tx4lUZHLwrWPc96nH
 sbMZoqQRmHgUKTBA3XyDNT/5HLFExdZ/8rWtbHrkKLNXGSz/5GJ+9Klt1NFOnNoz5k5MFzgJfe1/
 2bnsFTjNBLTN6mKfuuiqr9DYxEnRTJom0vlZJCN1rHpgEYYFYRhy8mgf3/6LZ4hn26ijnRraqWMG
 9cygiTmU9qS4//NP4JU9wjDk2i/PRdiCHc+eomlOmto5BiWySM6kp9in0Darh+keYYDSutMvKibj
 p9FYRHGIY+Fy3d+00zgzSRiG5IeKfPtzT2OdbCJNMymmk6SRGHWkmUqCRuJkyO12+dXjmys+IWEx
 69oErpfklae28sHPtuBRJMA7Y26/qFBad45iwBqBEXpq7mRIf7hJJAE+LUtdlq5qIwxDfM/ne1/+
 KYXdKRI0kKAJiwgaKtIjS04MsOof57Hg+ma2/LxrxDFe+okpaEw2rT1E542t+BTxKY05d+ipuWuq
 GwgDwJ63ocMry6hEMVnNo0jZGWLl/5iLUhIpJT97cANdvw2IU0+cRgT2qD4+HmZ9njkfaUCbPse2
 lek/mUVKSdvieiQhQ4cFpi0wakI8SmPPXZZRe96GDqhGgcBimT84gYm280ARMsQpPvj5DJlpMcIw
 5MTbfaz/P4dI0U6cRkyivDseaQSRJkEYhhze3YtNFN8LCMOQwb4cAQGGsunrHiTaYBAM+kjkGbtF
 vwRmnGXAjorLFWqJX2KSGKAp0Ed0RpEPf3YBYRgC8Pjf/paoP4UYGRziqHetRhJSYpBp8yNk+/Mc
 21EkFkngxKwKA07l0CiEMIgkHAZ7c8RpQCER71qBX4KoYAlUNUChFwXlyWGAT56c6OWWu9vRQhGG
 iteee4ueLYIkUUwi1XW8I32NIs8p0gsk139xIb94aBOWinL1l9ox7YpGdL89gMAkPd0iny1SGoAY
 AoVAvEuTqrQuGmFAiGqpCuKiQhGSo5fOzySYujCNlJLcYJEX/vduYs4UhG9QOfiMFkWJQYzGPH/y
 zdns236EN57s4ZIrZvCBm6YipaRc8HnxwTcxaeTyzzSz6YU9mLiAga7+Rq0jhBBaoOoEldKxi+/5
 FQUGqbnU56rbW0e89zPfeZWYqmP1P3VQ36koMUhIMNKvTJ5ypI+P3ddCIZfniXs3sWBpOzfdM2dk
 jKe/uwHZk6JhQZRZV2RY/9hBTGxM3LOvR+nYiAZIKWPqDEuZWPjkUOl+Vn61DaUkSsHG53ex75US
 n7p3PoVinr17DpFkOgKbKLVoNGUGKahevDDDj7/yryxe2sEN/2kOhlnZNL216W12v5CjdeZU/uTr
 M1n7D7/DzKWwSWDinKFNw5DydAZoHZUX8QQQUiQverjhv2WIpitO68i+Hl783l7++OZFtFyS4Pt/
 +RKm14RJDJsEEgVoQjS+r/jBXS+z4tNLufKW6SgtUSFsW3+AZ+/fxeLl87n2i2389MGNHFofkKAW
 h3SV9LMwQBMFsNZ07HKkVPbF0YBKiqtk9bDs8wlaO1NIKSnmPZ74203MWTCDKz8zlcfvW493PE2S
 NBFq0SO2qwATJ27y6b++illLM0hZuWpat3Ybv3/2FKv+6+XUtbr8aM2vGdjlkqSJGI1YxM4Io6MY
 ILW9pmOXY/V5XWktFUpfOAM0koAyColNBBPnnQnwKTFIel6ZG+5qpG56lDAM0Rqe+NYGHC/Div/c
 xm9/+iZdGwOSNBChDqOqtoqAIgM407Ks+uosMlMr/WWo+MkPXkPk49zx3Y+w9ZUDPP7NPxDxG4nT
 QJxGXNJnVf3TGECf15W2wEtJaV1gCNSElCkxSM0cj96uEhF/eOKQkAJBJMtln47R+dEpCFEJVUpp
 fvXPvye73+GTX51D95F+1j9ymATTcMmMSE3iU6SPxg+Wue4rU3GrsT43WOLJv3+VgT0uLQtNfvz1
 dfTthTjTiFJHnAYcEmeE0bMxwLK8lOVhpVGK8ZpAReaDRJrzXHVbkvqZNfzk3l68Y0NIQkKnwLwV
 NotvqieaskdUtufoID/7wRtEggx//o0OPM/nmb/7PRHZTIQ6oqTRQEiJAr0s+DPF5bc0gag4u2MH
 +nj6W28g+huIk+bkriyCJKmq2UTJYBE5r+RH6FAaiZW2wEdhjqtbSJkCPUz7UMCHVzew8bl9PPGd
 w0T9JhK2x6zrBIs/UUusxq5yWaKU5tXndvPqv3SxsGM2N941k6MH+vjZd7bjFqYTo54oGTQmCkmB
 fqZcUeKDq1qQqsK8Hb97m5d+uJdEMB2XmuopMg4IXFK4JBBY57T5d0OhMfCxwMhqcX4N8Cng270s
 udWieUGCR7+xgUKXQ4I2Wi9N8ZHbMyTqKoQPb28P7ermN0/tIXvQoX3mTG78Sjvb1h/ilR8fIiGn
 EqUWlwxgolB45JCxAa74bOPIGC8/uYMdz2dJMZNoVdICCxMPCwcDGw1c6ElGCw0YWcvFHcobRdQ5
 0suVhGMPnbcIRKzAw/99CxFvCgkzxeW3JZm3PDmK8P07TvDqL/bTv18To4EESbKDWX79xJvseHGA
 BFOJkiFCQ9XpaRSSMgO0XyVw4gZhGHJoVw87ny+SopUoDUSpRWACYBEbkeR7gTIUMWJDVp2bz+YC
 OHsdg6ZMFlGbp+0DDTz6td3EvOlYRoQr74gxY0l0hPDDe3v517V7GOiCGA2kSOGQQCDI9+d468UC
 caYSpR6XWgQOISGgCShSEkPMXV4zMt6mZw8ToR6HumpcF0zUiUULRZ2bz1r37Fzlr565NlBoe6wX
 JT5lhui8wWLrK12Y+XosYiy+2WT6pZGRxW555RCbnukmohpIU4NDEoc0FjY+OSySONTgUkOEGgQW
 EkmZfhQBkpDMHEkiYxOGIccPDtD7B5sUaRxSI3uDiYIydHDPzpt9q8INWVIwJgN8Cnjkae2sZe3f
 HcZhGk6Dx5wP1SGlJAwU657cxeHXIU4bDkki1GITHzmHG7g41GDhYpOoEqPwyOLbA1zz5Sibn87S
 fvk7UWPbb45jU1t1dua4vft4oYUsQXUrrKGo0KmxXqzc0JYxLI0qVGLsvOuNiodW8PKTeznyeoQo
 dUTJ4JJCYFUdU0ViAhcXB4E58lwRUKKfudcFiIhBb28/Vy+aWU2NhRzbIYkSwxgjMTIhDIDiCAOU
 oYpj87eyKdFGWJGMMgkpUT8jQRiGZPtKHH5DVb1zPQ5JNOIsHnn0c58cVibPvOVpfvXIPqYuzCCM
 Sn5g79aTCD+BQRQxxvF4IqAMVYTqcVhrdRxzrMRlZV9nOJpS0UMBoQhwY5WdXd/xAqZKYpHCqu7A
 xnsrVCTLJStN3t7dy8k9Fm2XuSPH2/1bhhBEsYiOe8wLaZi6QvMwA5RWbwpXMlYKGyDwFT/9/luA
 wI7KStCSklIhxMA6LZSd/1dJbfVTM6vAlNk2r//iJHXNcRpa3eptUIm+AwYmUQT2uMa80J9wJUqr
 N2E4KSrFVsNRqOK79wIChYGhIqjeqRjYeH6RwA8QhqBmilNlkTFuO/XJoaMDdH7CYOtvjhAMpLj0
 cw6hrESTPZt7MHQCgcNY6ayJgOEoAim2wnBKTPqbccwx9wICG4d6wCAkhwxN+nsKpOsjJDImbtoj
 yPqId19JjwFJmRJ9LP64z1A2ZM8Gn5mL0tS2mIRhSOBJ/rDJwySFqpbIGKedMCcMjiKUcjNUTeDZ
 o8d2GrYsjWUvFkls6rBIY1T33N2H8yP2WjPTJ6CIRJ7H7ksU6WHWNXlqW2DDM91ErBrm/bEYGeut
 13vQpSSdNyni7f0U6KbMIMP3SRPVDFuWnj16bOcIA7S+R2GpvWe7yFJVBTeIADYHthaQsnKZ0dYp
 UHaOkOI57N6jTD/zVw7RtkTwu2ePIrP1zLwSnGjl0JTPltm3KaB2ukFdm+LEiR4k3sghZyJ9AJba
 q/U9aoQBABqx3XR1NU6P3QQOJlFyJ2J0H8kRhiHxjGDhygK+6CfEG7OfTx6PHPF6j3VPvk3/wTTN
 cw3aLntH+q89fwL8NHM/Itm58RR4NdikMapXYxPVKjSK7cN0jzBABPIRN3HueCswMIljkWTrS1m8
 sk8YhtS1adqu6sfnFJIi705G6Opl2PpnTlI4Wk/bIpuOFQqlJGEYsvvfTpHtStJ+mUYbPl2/B5sk
 JgmY4FSdm1CIQD4yQtPpJTIfa/vhvsGj1uxzFY9WckE9lOimbkE/i6/OjPwv1wvdO2P0780gwmi1
 gktVNaCP2jaP9iWamuZ3xjuyL8eudZramjqW/JnPxp/1IXunEaMZZ4z7/fcDIaBmWrj/ua475gw/
 G1UhojSPOnF1r5c/+9FYYOFQgySgZ7fPFnmSzj+qQxiCWC3MvCpH67Ic/YctDFNguRrLUdgxhRuv
 jFHd7nNgxyAHX7OIGFOYe02ePW8M4fVmiFFJa080nLhCaR49/dnoEhlfPeQk9Fe9vHHOIimTKA41
 gKR/L7w21Mv8K+Kk6pzhF8jMOPOqafj2qZAN2L8tx8D+BFGjkfYrc5SKJY7tsImQxiKNGPts9r7g
 JKQnff3Q6c/OqBP8aNuDv8idtD8m/fPZniYgj0c/Pn14opfMDJ+mGQ51zREMc3R/rTTZPp+utwoM
 HnawdR3JVJSZy4cIAp9d60Ps0jRcGnDJjKv+70JgOprklOC557u+MKpM7ow6wdDj7ljGvzp/0o2f
 u5BcYJPEwMTEwdJJcgez9B8cRFmDRJISywbTEpQLCm/IQugoDi0kXZfaNp/mzl6O7CpzbJdFTLfg
 kMGlZsKJFwJiGb8QeuLuM/43VqnsypZ/vMP3jYdK/eNTQ01ISImQAiEFVLU0RRNQiQgWqeaAVLNH
 otHDTYbk++DgthJBfx0uGRzSuDScUdk1EYhmAhxH3fnC8f9w/lLZYdzY+oOnSv32zUHRHPdEle1K
 GUkAhCgkupr1mbL4OIEMyfYE5PsEIoziksEmiVO9yroYdm/HJNFMsPaXh//jmMXSZ600Vn7y9khN
 bon0jdkqHF8sruwTYpzOMp8hDLIc2eYgcDGIESWCTbTqTNOYxJjoeA9gWJpITbBf+cnbz7rmc30w
 sbL5oYXKCH9eHnRmB6Xxa8LpkBTxGUTiAwqTCCZRTFwMHMQ4qr3fC+yoJFLj7zeUddMLJ+688A8m
 hrGi6bG4sIYeDormzeWsc74bpzGgUYRoQsDEwJpwJzcKAiJpHzsm1+owdftL3be+909mTseKpu/f
 oTTfLg+4cRVeRALeBwxLEan1Cobgr17q/uLEfDR1Oq5ueqDDMY37ZCCuDwq2G5at96AREwwBViTE
 jgeeaetf+1Ld/Zvuuyb+s7nTsaLpwUatwzsx9G1h2ZodFG1UMLlaYdgKOxZgRcL9KPGoENZDL3V/
 4eJ+ODkWVjR97xpl6NUCOmUo5urAiKrQQAUmKjDQ76HuYNQChcawFYYtMSyFsFXJtPReDdsNJR55
 qfsvJ//T2bMOJtYY1zbWdBhKLJMWSwyhF2lFi9ZGTGgR1VrH0MLWWoBmhDlCaBDDf3UghChqoUtC
 qKIwOK60eNMM2aoMvXldz+DO4WTGhKx5sj+f7xBrnNYmJ41KpDwl0wCuYWYx8kOHu/3sTn3PpH4+
 /38BtJSYHSOMlKgAAAAASUVORK5CYII=

Package: gallery-plugin-liquify-dbg
Section: debug
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
         gallery-plugin-liquify (= ${binary:Version})
Description: Liquify gallery plugin
 This is the liquify gallery plugin.
