Source: gallery-plugin-liquify
Section: user/multimedia
Priority: extra
Maintainer: Alberto Garcia <agarcia@igalia.com>
Build-Depends: debhelper (>= 7.0.50),
               libgallerycore-dev (>= 1.110519.2),
               libquillimagefilter-dev (>= 1.110523.0)
Standards-Version: 3.9.1

Package: gallery-plugin-liquify
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Liquify gallery plugin
 This is the liquify gallery plugin.
XSBC-Maemo-Display-Name: Liquify plugin for Gallery
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAABHNCSVQICAgIfAhkiAAAAAlwSFlz
 AAALWwAAC1sB2zHRFAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAABTrSURB
 VHiczZt5nBzleee/b119TPfco9E1IwESEjJISAIDAoEkbkxsNgRwHEzAJthriMM6sZ3FCXyA+Fri
 rJclCcZmIYA/2KzBGGMgHJJtcUgGSaALCQk0ukYzkqbn6Omu6qr32D+quzW6R9KI9dOft2e6ut63
 nt9zv09XCWMMI0kvXrEx0avzc90kc21HzrQd0yIs0rYtkkaYlC1MQhudFMa4CJMAwIiSESKyhBUo
 I0rCCF8pExhNUUmxS0lnRRSwuMHKLr78hUmlkeRXHKsAnrri3XPtRHSD5enTXE9PxMhRKpC2LCoi
 X6JDjdEGowxaGzjc5QRYlkDYAmEJLM/CTTk4aRs76SiEszMKrQ4dWqtUyX3s2hdOf+NY+D8qATx0
 xvPpzJhRX09l5Q1ChScEuUBEvkL5khE2qP1ICLBTDm7KJtmYNMb2Nvl557HBHTvvu+WdK4tHvN6R
 CODR+W+cnWgU/5hMRPNLfUGquDtAhfpIrzmiZHsW6eYkifqkH5TcRaWcuffGRecuGe78YQvgsSvf
 vD9d438lv6Nol/rDo2b4eFKiziM7Jq2KhdS/3fD8nK8OZ85hBfBv8387uq7Rfsn4gzMGtg0edxM/
 VhICasdnEKnMe/05ddlXFs3rOuT5hxLAQxe9dVWmMXg039lfF/T9cWr9YJSs98iOresfzCVvvOXV
 c5492HkHFcADF795dV1t/qmeD/ut/x9+bg6QLgTiiNawPYumk+p0/0D22ttemfP0gc45oAB+eNmy
 MQ3Z3nW7Puip/TjBHwi0wewH/EgEYXsWLSc3DfTmG6be/tLsHft+7xxoUtobeLlnS19tKZDDvtCx
 0FDgxujyJ7PXcVF5Cav6eTgkA03Plr7aTKv9MnDavt/vZwE/vOiVBy1d/FLvlvwRAzkaqoCMgRs0
 GiMM42c0M/XCdqbOb8NyLPI7fQZ3+eQ68vzugVVVgQyXGtqzaCv9o9tfvfjLQ4/vJYB/mfPynERT
 tLh7bc76eKJ9rGVjDBqFMooTz23l6u+cT27bAKsXfsTaRR0YBS3tDTS31WMiePcXm7CEVRbA8IQg
 BLROa9SlHnfu19685M3K8b1cwNRwd8/WQStUHwf6GLw2OgZPxPm3nMpZ103hgZufZsuaTnTZKixh
 sXnjDjyRwBUJHMvDxhkiBBiOIHq2Dlo1LQ13AxdXjlUt4EtnLEufMro7t3XlrsTxgLs3DQUvUUR8
 9p/PI9ua4t9v/SW9u/sQjuGCz85k+rzJ1LdkqW/J0rN9gA+XdrH8mQ4GtgVYOAghEFTiwp73g1Hb
 9JbS+12tjT96Z3YRhlhAW6r3jr7dfiL6GIK+AYwxKBTSRFz81VNJt3h893NP4IcFZl9+Mn/+zUto
 Gdew17yaxiTtp43i/BtPZcnPN/DC998DZSHKmcJ2LIwyHEoIfbv9RFuq9w7gH2CIAJy0uqF7fQGp
 jrcEKtpXSBNy6uVjmHnlRO65+jH6/T4WXH86N935aQCklMhIsmPzLgb7fCZNb8f1YpbPuu4knLTg
 53csRRibqeeO5fRPTeCZf1hxyNjQ01Vg3JTMDXsJ4M7Zr821av0231fHGXxMGoMyGmkk9W1p7r/1
 WXZ072T+56bz+TuuQMo4/S5+cRkPf+8X7OrsRWBTV1/L+VecyWe+MI/RExqZcXk7fbkCv/reCj5Y
 0cXV35mFW+9SzEUHdYfIVwSh33bn7Nfm3rPswsUOgEmEN+e6faKPIfiV9Y8yitBIfvm/l+Kbfiac
 3sz137i0Cv7FJxfz73f/XyxsBB4GQ1/vAM/9dBFLXlvN9352G02jazn3uslsXreTpU9v5p3fdDDz
 qrEs+vEmBNZBHSHX7VNXn7gZWGwBaNtMzw9IQsVxHqb6f0kZQqUJVISVhi9/9zNoo5FS8vbvVvPQ
 vb/GpRaPBjzqcciA8VBa09nZxZ1ffJBiIUBKyTlXn4SvAhb+dD2zrhqHpHItc0A+8gMSbZvpQBw+
 hWva/UKENuZjGBplYguQJiIyJf7i7y+gYVQWpRSb1m/nB//t57g6S0o0khKNJEUDCVGHSxqBzelz
 J1MMBnnrlZUopRg7uYGWSSm2btxFd8cAp8xrOiQPfiFCuKYdwLr21LWe0rLeGE05Ph/3YYxCmwhp
 Skw5u4WzLp2KlJLe3f189ytPoIsJUqKelKgnadWSEBk8kcIRSSZMHscd93+BTH2SRc8vjQOllMy6
 uB1lQlb/bjttp2Ux6HKVeaDra5SW9deeutZz2lIbLir5oXX4Zt2xUtX70URIAkQi5M+H+P1/3Pci
 +W5JWjSQsDK4pBBCIAlRJi56Wsc3IKWkUCiyu7u3Otdy4rV7OvO0TasHNIdKhyU/tNpSGy6yhDAL
 gsFoPymNuNYxGBTaSKQJiEyRi79wCvWjapBSsnLJBv7w4kaSIosnavBECls45ZQWV4sGRUNrhu5t
 u9nyYSeJlFO1gL6eQUATliKMOLw1B4MRQpgFjmWbWUEhOs76L8M3CklIaHyaJ3mc/2fTkFIShZLH
 /scruCKNK9I4IoXABSjHCok0IYlawfmfmc5vf/MOBsN5l8+sWkB/TxEDNLXX0P3R4GHxBIWITK2Z
 ZQmH5iiUHD/t6/IeT8amb3yUXeTqr52B1gopJc89upjctiKuSOKIBLawEYjyvNhdjF3ixrsupBQE
 PPPoa5x8WjuXXTMHKSW5nQOsfmMrlhBMPa+ZLSv7DstXFEqEQ7MjLJJKVQLGSFPF9DXKRITGp2QG
 ufRLUxl9Qj1SSjo37+blJ9/mgj/5JLs2hOQ2AljlaBERld3l0389m/GTm/je3zxKY2uGL93xZyit
 QMPPfvB7ggHJ7AUnUvIjPvxDH5ZwOVRcU0ojLJKWECKp1bFmAL3fMNWhUCYkMj6hGeTk8+r55OUn
 IaWkWPD58T/9khOmjeNTfzWLmtrkEJ+XKBMiCUg2GKbPncD93/oZWIpv/uAmsg1ppJS89eJa1i3Z
 QdvJzVx40yRe+1FHtVMgDsGzVhohRNLB0ok9AjgaDe9/rKp7E2tRmhKhGSQ71vDp22aiVFxyP3H/
 CxQGStx674X8/ql1fLQshyfSselXg6VPf0+O73/1cepbk9z+j9eTSLoopXj/7c089+DbTDm9nT/9
 29m8dP8Gdm0MsA+jfQCtNFg64QiBp82RboDMUJj7AcfE3qur4IuImoD/8ndzsByBlJLXX1rBst+u
 56//6To6N+X4/ZMf4omacrCMkMTzQlMgMgHTPjmJT/3FnDgtSsmSl9by2hNruOLGM5k0azTP/8t6
 OleVcPCopD8z5H0/BMYgBJ5jjPaOTPuV8qJs4qZi6mbI9xpV0SA+E8/IctnNZ5KpTyGlZMvGLp7+
 8SI+ff086ppreOSbr2ORKAc+hSIkNEVKZhC8kM/dOp/TzjkRpRTGGF7+6XJ2dhT48n2XsWVlH49/
 7T1M4GLjVXuGw8FkjPYcrc0BG6MHB19pY6lyUSNJ1EKhP9wLvCLEzSouvXEyp5w1Doi3twO9BR69
 73nOmjedsy6dypP3LiHK23giTnuSkMgUKek86RbDdX97Ma3tcfFT8iN+9a9vs2l5L3OvnsYrP9pA
 15pSnDnwsMp1w3AaIwBaG8cB7QwvA+zRvDZxNZdqgplXNTN2aobHvr4CpSO0Udgpw+mXjOWMy04g
 mXarufrd1zfwm8ff5PxPzWTun0zn5UdX0b2hhCfSgBXHfVMk0HnGTUtz1W1nk8p4caGzs8Cz//M9
 BjoVKauBd5/twcbDEalyZ8gewume98OIwHGGe3IFvjFxPh8/O8FZn21l1cIuXv2P1fjSx04YZlw0
 njMvO5FkjQfEWh/s9/nNo0vZtLqbq245n0kzxvKrB5az+Z3BasUX+37s97Vjbf709rOxHSt2mbU9
 vPLgB/EewarBxsUSThm4Vd76Du0RD8+lDeAIjATjHf7UODPjKGZdXceok5M894M17NzeizQBk89u
 5oJrp5HK7AGulWbVG5t5/Zn1hAXNNbfPo6Uty9PfX0HvZokn0uWIDdpERMZH4nPJjWdi0EipWblo
 G394agcuaRIiiS1cxJBeYCXhxSlPDBs8gMBIBwtphiEAXQ54M6/JgKP45XfWEoQFRCLikr88hZNm
 tFaBKxkDX/HyZvxegyNqSFsuuz7yeeuJTvxeC1ekscodOU1EREBoiow7LUvz+CxSSnZtzfPWz7aR
 tLK4Il3WvF1tgrKfzo8wlVtIB2FCMOlDga8snmqG5skuv/72h4RhgOVJLv2v0xh9Ql3Vz1e+voll
 L3UQDth4IkXaSuGIBBYO779QQJDAExYIMOWucGQCQlMgNAVOPW9yda0VL23HE2kckcTBRZTB7x/e
 jrKKFSZ0jDFhzMzBFqkUs5rJFyVY+1ovYRShiLjwpkk0t9VUNzSvPfkeHe/2kRAZUlYGV6RwSJT9
 1a4aamxREoUkKpfHJZ0n2QjjJjWWg55P50qfhMhi44CwqJi4qYrg6Mt3IQTGmNDR2pQsS6Dk4RYz
 NE+xefupPMZoxpycofXETJzaeoq8+Mgy8l2q3MCoxSONQwIbF1EGT7k61KhyZyhOeXP/so2NK7eT
 afSQKtb+utd3YpsEtvBinzfDT2/DIcsWaG1KltYqsOwY4KEHKKnQMq4apy1oQSlFFEmee2gJfV0+
 rkjiiTSeSJV3dh6WsLH2idCx9ktE+Iya6jLqxAwdG7czedbYeM1Qsu3dQvzrT9nk9/b2Yx+WDVqr
 wDFGB5Z9qOgZT7AdQxhILCxs26ZuTJyfN63qZmB3EVeksIWHIzwc4VaZZ4i5mqGbHBOgbJ8Zl5/E
 2y+vJ1Pvka6N19y+rh9ZsEhaQ31+ZHerli0wRgeWitRux7OG1nj7vOJLCxdKRYkQNqmsi1JxJ6a3
 u0DcW63oOf4fMaR2KEPXJoorvXLEP+HsLGEYsuL19UyaObba3elY3r8n2ouhehu5l+NZqEjttpRU
 y5MZ55DmIjAoH5Y/qLCwSdW4VWZDXyEE7NkCq/LQQ1hWGKOqO8PI+DhZycnnNPHm82tJZhwmnjIq
 3iIPltj5gT8k1R2fRk0y46CkWm4pFSxM1riHmVA2ZCOwhEWYF1UBNI2rgcomxoTVoU00RBhx6Ryb
 vo/CZ8aVLWxZv4ttH3Yx+8JJGAxSSj5atgujGeL3Q3sOIyiAGhelgoVOLhrz6vjagjZURX4QqqQw
 i2jQJshLnBQ0jE9iWzZKayJK2MYvFzgWGoOodHdMRESJyARMmJPGqxEs/MU6mttqGT+5JS6gIs3G
 pb0kErUQVtoZIxP19yUv5eidxTGvWk+tviYUtu6LzfjQUhNldiwsch/FFoClaRqTBSq1fIGSyVMy
 +fJevhgP4r9jZzu0z8zy+rPvEwQ+M+efWLWmjct3onzBtCszNJ9iVVPnSA8hQNi676nV14QWgCzJ
 LYn0oePAXu4gBLves6uMTzmvGddx9uzmzACB6SPQffimj8D0E+gBGqZoJpyZYdlLH7G7q5cTpo8i
 05BESkm+16dj6QDN7WmclKb3A1F1gYrtjZQAEmkHWZJboGz2YRitSmYcDh87K0xAsNOhr8OglCLd
 ZDP9krFYwkIhCU0RXw9QML0UdY6CzuHrXiKKvPHMB3Ss72L8lAZOO3cCSimkVKx+pRtLJ5hwdort
 Sw1C25Sj6zD4OrJXMuMQhtGqqgCiUvCTuub0sC2gYgU7fpekNBi3tuvHu0y7YDTJZCJ2B2J3CEye
 ks4TmDwfremkd2c/k2e3MmP+RFS5Lb5pWY7CDsGEMzIE/Zr8h+6QLFChkXOBuuY0USn4CQy5Reb2
 eQ9t27I2Ny4qDefWuIosNd6ogNHzB7Hcsn0o2N3hs/39AQb7fWwXnITATgjqW1O0TWvETexpXmxZ
 kafrPUXj6BomznPZ8us0BIlyd+fIboQaDrkJh/Zpjdt/+NtbxsOQO0T8wcLjDa01f79zS9+wFqrU
 5eHOBJ3/CS0X9GGnYiE0THBpmNB0kJlxujMaNv+hQN9GQdJLMe4ci+4lbtzbK/8wcqQNjuFQQ2sN
 /mDh8crnqp3tYODe2qZkOHxTquRqgexL0Pl8E7lVHlFJVYPjgUYYROxY47Pm2QIDG10ydSkmLhAU
 OwXB1lS5Ahyq8ZHNALVNyXAHA/dWVt/rPsFbz75/Ya6rND/f6x+BTPcER4PGWBK3xcdrDbBSEsuL
 nxgJBwSlfhjcbqFCsLCpO8nQ8IkS+XUZ/I215Y1TpayuiHjkKNuQonF0YtG/LvnqgsqxvTrCRb9w
 V8v4xgsG+3zrSB6k2JOmBEK7yG6bqKuGPb8Oxb8SYEtqGkMSzRGJUT4IyP2+GTWQxC739o62vXVY
 HoWgZXytzudzd+11fF+gf3XGP/8E6X1xx6bcUV9sT5d5T+qxmwepmdWFGvCQuSQyl0L2pLGMPQT4
 8an6AMac0AhO+PCP3/m7m4ceP+Dd4rfN/V/rerYFU/K5I34EZz+qCEPYKhaF2pPehkb44wk+25im
 aXxy/QOL/2bqvt8dsP73C6UFrROyhUNvk4f3qpBRNkbZ7Nnm7NvmOD4vx7NonZAt+IXSgn1xHlQA
 Dy//Rmeut+fm9qkt2nUtMGZEhjDsNUZq3YMN17Von9qic709Nz+8/BudB8J6yEdmPn/63dc21Df+
 n+6OfM1IuMPHSdnGNK0Ts4XevtwXHn/3rqcOdt5hH5r6/LRvjaltbFoY5Jna1dF7iO7xHwcJIRg9
 sYFklnUDuZ4Fj6/99n5Piex1/nAB3XTGt39Sk6y7adfWfivf+8dpDdmGNC1tdboQ9D/yyDvfuvnw
 M47wwcnPf+LOualszT3JRHpOvifwct15hrd3OH7kJhwaW7Nkm5JhUCq+6ecLdz6+5p7Fw51/VI/O
 Xjrj6zVjrNo7M9ns9TqyxvbvLuAPligVo+PuIkIIEmmXVCZBXXMNlqs7B/P5J3bogXv+8737Cke8
 3rEyfMOp/32Bk8x+0Ut4n/Bctw1t15f8yAoKIf5gSBRKtIrvydHKHFZAQggsW2DZFpYtcD2HVMYj
 WeORSLkaS/WFUbQ1LIVrZJB/+LHV3114LPwfswD2pZtOuDsZ1cmLEpY33/a8mZZtNduWk7QsKyVs
 y8OIhDC4AhxjLAdACC0NSCOIEKZklA611r7SMtBK71ZhuKKkw0Vuv/PqI5vuCkaS3/8HLAUcBsNl
 pwUAAAAASUVORK5CYII=

Package: gallery-plugin-liquify-dbg
Section: debug
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
         gallery-plugin-liquify (= ${binary:Version})
Description: Liquify gallery plugin
 This is the liquify gallery plugin.
